@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Droid+Sans:400,700|Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Open+Sans+Condensed:300,700,300italic);

body {
    background-color: #DDD;
    margin: 0.5in 0.75in;
}

em {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
}

h1,h2 {
    margin: 0;
    text-shadow: 0px 2px 2px #000;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32pt;
    font-weight: 700;
    margin: 0 0 0 0.75in;
    padding-top: 0.25in;
    text-transform: uppercase;
}

h1 span {
    background-color: white;
    color: red;
    font-style: normal;
}

h2 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    margin: 0 0 0 0.75in;
    padding-bottom: 0.25in;
}

address {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-style: normal;
    padding: 0 1em;
}

a,a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: 'Droid Serif', serif;
}

fieldset {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.35em 1.5em 0.35em 0.625em;
    vertical-align: top;
}

legend {
    background-color: Snow;
    border: 1px solid RoyalBlue;
    border-radius: 0.25em;
    color: RoyalBlue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: smaller;
    font-weight: 700;
    padding: 0.1em 0.625em;
}

small {
    font-size: 11px;
    font-weight: 300;
    margin-left: 0.5em;
}

abbr {
    border-bottom: none;
}

ul {
    display: inline-block;
    margin: 0;
    padding-left: 1.5em;
    text-align: left;
    vertical-align: top;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-weight: 600;
}

li:hover {
    background-color: AliceBlue;
}

header {
    background-color: white;
    background-image: url(code_fade.png);
    background-position: right top;
    background-repeat: repeat-y;
    border-radius: 0.5em 0.5em 0 0;
    border-top: 1.2em solid gray;
    padding-top: 1.5em;
}

#address {
    background-color: gray;
    color: white;
    text-align: center;
}

#content {
    background-color: white;
    padding: 1.5em;
}

#summary {
    margin: 0.25em 0;
    text-align: center;
}

section h3 {
    border-bottom: 1px solid teal;
    color: teal;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: 0.5em;
    margin: 1.5em 0 0.5em 0;
    text-transform: uppercase;
}

.education {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

.job_title, .employer, .location, .job_description {
    margin: 0;
    padding: 0.5em;
}

.job_title {
    background-color: LightSteelBlue;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 0.25em 0.25em 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 1.5em;
}

.employer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    border-top: none;
}

.job_description {
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 0.25em 0.25em;
    padding: 0.75em 0.5em;
    text-align: justify;
}

.left {
    float: left;
}

.right {
    float: right;
}

.justified {
    text-align: justify;
}

.centered {
    text-align: center;
    width: 100%;
}
